################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHubWebHookTool/config/applicationhost.config
/.vs/GitHubWebHookTool/v16/.suo
